<link rel="shortcut icon"    href="{{ site.favicon          | default:'/assets/icons/favicon.ico'       | relative_url }}">
<link rel="apple-touch-icon" href="{{ site.apple_touch_icon | default:'/assets/icons/icon-192x192.png'  | relative_url }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">-->
<!--<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>-->