.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button {
    margin: 1rem 0;
  }
}

.clap-count {
  @extend h4;
  color: var(--accent-color);
  display: none;

  svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  .flat {
    fill: var(--body-bg);
  }

  .outline {
    fill: var(--accent-color);
  }
}

// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

.utterances {
  max-width: 100%;
}

.giscus, .giscus-frame {
  width: 100%;
}

.giscus-frame {
  border: none;
}


.sidebar {
  // <<< inline
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .75);
  // text-align: center;
  z-index: 2;
  min-height: 100vh;
  // >>>

  a {
    color: #fff; // inline
    border-bottom-color: rgba(255, 255, 255, 0.2); // inline
    &:hover {
      border-bottom-color: #fff;
    }

    // link
  }
}

.list-wrapper {
  text-align: left;
  display: flex;
}

.list-body {
  text-align: left;
  margin: 4px;
}

// Submenu Insertion

.folder {
  color: #eee;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 10px;
}

.folder:hover {
  background: #000;
  opacity: 0.1;
}

input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul {
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul {
  list-style: none;
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
}


// Image centering
.text-align-center {
  text-align: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


//Previous Next Posts
.page-navigation {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  a {
    border: 1px solid antiquewhite;
    border-radius: 10px;
    color: var(--accent-color);
    padding: 3px 11px 3px 8px;

    text-decoration: none;

    &.prev {
      transition: 0.3s;

      &:hover {
        background: transparent;
        box-shadow: inset -90px 0 0 0 var(--accent-color);
        color: #fff;
      }
    }


    .disabled {
      text-decoration-color: rgb(86, 91, 101) !important;
      cursor: not-allowed;
    }


    &.next {
      padding: 3px 8px 3px 11px;
      transition: 0.3s;

      &:hover {
        background: transparent;
        box-shadow: inset 90px 0 0 0 var(--accent-color);
        color: #fff;
      }
    }

    //&:hover{
    //  background-color: rgb(255,229,200);
    //}
  }

  .material-icons {
    font-size: 14px;
  }

  .disabled {
    .material-icons {
      font-weight: 900;
    }
  }
}

/**
  POST Style
 */

//About Page
.row {
  display: flex;
  column-gap: 6rem;
  align-items: flex-start;

  div:nth-child(1){
    flex-basis: 240px
  }

  div:nth-last-child(-n+1){
    flex-grow :1;
    h4{
      margin: 0;
      font-weight: 400;
    }
  }

  ul{
    li{
      font-size: 14px;
    }
  }
  div{
    font-size: 15px;
  }
  span{
    &.badge{
      display: inline-block;
      padding: 0.25em 0.4em;
      font-size: 75%;
      border-radius: 5px;
      color:#fff;
      background-color: #565b65;
    }
  }
}

.primary{
  color: var(--accent-color);
}
.notice{
  border-radius: 5px;
  background-color: rgb(227 221 219);
}