{% assign cat = page.categories[0] %}
{% assign cat_list = site.categories[cat] %}
{% for post in cat_list %}
    {% if post.url == page.url %}
        {% assign prevIndex = forloop.index0 | minus: 1 %}
        {% assign nextIndex = forloop.index0 | plus: 1 %}
        {% if forloop.first == false %}
            {% assign next_post = cat_list[prevIndex] %}
        {% endif %}
        {% if forloop.last == false %}
            {% assign prev_post = cat_list[nextIndex] %}
        {% endif %}
        {% break %}
    {% endif %}
{% endfor %}


{% if prev_post or next_post %}
<nav class="page-navigation">
  {% if prev_post %}
  <a href="{{ prev_post.url }}" class="prev">
    <span class="material-icons">arrow_back_ios</span>
    이전글
  </a>
  {% else %}
    <div></div>
  {% endif %}

  {% if next_post %}
  <a href="{{ next_post.url }}" class="next">다음글
    <span class="material-icons">arrow_forward_ios</span>
  </a>
  {% else %}
    <div></div>
  {% endif %}
</nav>
{% endif %}